html {
  scroll-behavior: smooth;
}
body {
  background-color: #f5e2be;
  color: #555;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.section {
  padding: 40px 20px;
}
.leaflet-popup-content {
  font-size: 14px;
  color: #333;
  font-family: 'Arial', sans-serif;
}
.leaflet-popup-content a {
  color: #3273dc;
  text-decoration: none;
}
.leaflet-popup-content a:hover {
  color: #275a8a; /* Darken the link color on hover */
  text-decoration: underline;
}
h1.title {
  color: #333;
  font-family: 'Arial', sans-serif;
}
#charts-container {
  margin-top: 20px; /* Add spacing from the map */
  padding: 20px; /* Add padding inside the container */
  border: 2px solid #ccc; /* Add a light border */
  border-radius: 10px; /* Round the edges */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow */
  background-color: #f9f9f9; /* Light gray background */
  width: 920px;
}
#charts-container h2 {
  color: #555; /* Use a neutral dark color */
}
